@font-face {
  font-family: "NotoBold";
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoItalic";
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoLight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffff;
}

h1 {
  font-size: 2.4em;
  font-family: "NotoLight";
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 2em;
  padding: 5em 0 3em 0;
}

h2 {
  font-size: 30px;
  font-family: "NotoLight";
  color: white;
  margin-bottom: 1em;
}

.h2-g {
  color: #404a52;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "NotoRegular";
  color: white;
}

header {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
}

.headbg {
  background-color: #404a52;
  width: 102%;
  padding: 1.5em;
  opacity: 90%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}
a:hover {
  color: #4bcaff;
  border: 2px solid #4bcaff;
  text-decoration: none;
}

li {
  text-decoration: none;
  display: inline;
  font-family: "NotoBold";
  font-size: 0.9em;
  padding: 1em;
}

.ul-l {
  padding-left: 24em;
}

.logo {
  font-family: "NotoBold";
  color: #fff;
  font-size: 2em;
}
.logo:hover {
  color: #4bcaff;
  text-decoration: none;
}

.l-logo {
  color: #4bcaff;
}

.bg-mali {
  background-color: #4bcaff;
  padding: 4em 0 3em;
}

.p-serv {
  color: white;
  font-family: "NotoRegular";
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.75em;
}

.port {
  padding: 4em 0;
}

.btng {
  color: #353f47;
  font-size: 14px;
  font-family: "NotoBold";
}

.ima {
  display: inline-block;
  padding: 0;
  position: relative;
  margin: 0.5em;
}
.ima img {
  width: 100%;
  height: auto;
}
.ima .hov {
  width: 100%;
  height: 100%;
  background: #353f46;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  padding: 0;
  transition: opacity 0.5s;
}
.ima .hov p {
  width: 100%;
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-family: "NotoLight";
  margin: 0;
}
.ima:hover .hov {
  opacity: 0.9;
  transition: opacity 0.5s;
}

.txt-cuer {
  font-family: "NotoRegular";
  font-size: 14px;
  color: #ffffff;
}

.sup-port {
  font-size: 24px;
  font-family: "NotoBold";
  color: white;
}

.txt-twcu {
  font-size: 28px;
  font-family: "NotoLight";
}

.txt-wal {
  font-size: 14px;
  font-family: "NotoBold";
  color: #4bcaff;
}

.com {
  font-size: 100px;
  font-family: "NotoBold";
}

.txt-footer {
  font-size: 12px;
  font-family: "NotoRegular";
  color: #515f67;
}

.btn-just {
  color: #353f46;
  border-color: #353f46;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  font-family: "NotoBold";
  width: 9em;
  height: 3em;
  margin-top: 50px;
}

.btn-msn {
  background-color: #4bcaff;
  font-family: "NotoBold";
  color: #ffff;
  width: 150px;
  height: 50px;
  border: none;
  margin-top: 50px;
}

.alg-right {
  float: right;
}

.bg-mess {
  background-image: url(../imgs/contact.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 585px;
}

.bg-who {
  background-image: url(../imgs/camera.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 364px;
}

.bg-defa {
  background-color: #515f67;
}

.bg-pie {
  background-color: #353f47;
  height: 50px;
}

mark {
  background-color: #353f46;
  color: #ffffff;
  padding: 0px;
}

.alig-twit {
  margin-top: 22px;
}

.img-jhon {
  padding: 10px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.mar-tes {
  margin-bottom: -60px;
}

.bor-footer {
  border-width: 1px;
  border-style: solid;
  border-right: #515f67;
}

.COLors {
  color: #353f46;
  color: #515f67;
  color: #353f47;
  color: #ffffff;
  color: #404a52;
}